.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: var(--color-gray-100);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
a {
  color: var(--color-gray-100);
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}
/* faqs section start */
.faqs__wrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 1.5rem;
  align-items: center;
}

@media screen and (max-width: 1020px) {
  .faqs__wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .faqs__wrapper {
    gap: 1rem;
    margin-top: 3rem;
  }
}
